@import 'bootstrap/dist/css/bootstrap';

.navbar {
  // background-color: #FDF6EA !important;
}

.navbar-brand {
  // font-size: 3rem;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}

.user-name {
  margin-top: 3.5%;
  margin-right: 5px;
}